sandpit/*
*.png
**/*.png
*.svg
**/*.svg
**/*.html
**/*.RDS
**/*.csv
**/*.tex
.Rproj.user
.Rhistory
.RData
.Ruserdata
**/*.tab
**/data/*
**/data/**/*
**/*HSE*
**/LEGACY*
**/wpv-analyses/Thesis.Rmd
**/*.db
**/*.RDS
chapter6_qba/selection-analyses/imputed_dataset.RDS
